@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-left" style="margin-bottom: 32px;">
        <h1>Greenfield Local Hub</h1>
        <p>Local, ethically sourced produce, ready for direct collection or delivery right to your door!</p>
        <a href="/Products" class="btn btn-success" style="background-color:black">View Products</a>
    </div>
    
    <div>
        <h5>What are the benefits of buying Locally?</h5>
        <h6> Subheading </h6>
        <a> Text </a>
    </div>
</body>
