@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-left" style="margin-bottom: 32px;">
        <h1>Greenfield Local Hub</h1>
        <p>Local, ethically sourced produce, ready for direct collection or delivery right to your door!</p>
        <a href="/Products" class="btn btn-success" style="background-color:black">View Products</a>
    </div>
    
    <div>
        <h5>What are the benefits of buying Locally?</h5>
        <br />
        <h6> Boosts Local Economy </h6>
        <p class="text-muted"> Money spent locally tends to stay within the community, supporting local farms, and producers rather than going to large distant corporations helps the local economy by keeping money going through a cycle within a community. </p>
        <br />
        <h6> Superior Quality and Freshness </h6>
        <p class="text-muted"> Local food is generally fresher, tastier, and more nutricious because it tends to get harvested at its peak and does not require extrensive preservatives for long-distance transport. </p>
        <br />
        <h6> Supports Sustainability </h6>
        <p class="text-muted"> Local producers often use sustainable farming methods, such as organic parctices, reducing dependence on chemical pesticides and protecting soil health. </p>
    </div>

    <br />
    <div>
        <h5>What do we do?</h5>
        <br />
        <h6>Greenfield Local Hub</h6>
        <p class="text-muted">Body text</p>
    </div>
</body>
