@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="text-align:center"> Privacy Policy </h1>

<div>
    <h5> 
        Who are we?
    </h5>
    <p> 
        At Greenfield Local Hub, we are committed to making the world a healthier, friendlier place. By encouraging people to purchase from local vendors rather than big brand, we are helping to reduce the reliance people have on corrupt corporate businesses.
    </p>   
    <p>
        We aim to push our local farmers and producers far and help them to grow their popularity, one crop at a time!
    </p>
</div>

<div>
    <h5>
        Data usage
    </h5>
    <p>
        When you interact with Greenfield Local Hub, we may collect the following data:
    </p>
    <p>
        2.1 Personal Information
    </p>
    <p>
        - Name
        <br />
        - Email Adress
        <br />
        - Phone Number
    </p>
    <p>
        2.2 Technical Data
    </p>
    <p>
        - IP Adress
        <br />
        - Device and browser type
        <br />
        - Cookies and tracking information
    </p>
</div>

<div> 
    <h5>
        Your Rights
    </h5>
    <p> 
        Under data protection laws (e.g. GDPR, and the Data Protection Act), you are entitled to the following:
    </p>
    <p>
        - Right to Access - Request a copy of the personal data we hold about you.
        <br />
        - Right to Rectification - Request corrections for incorrect or outdated information.
        <br />
        - Right to deletion - Ask us to delete your personal data, subject to legal obligations.
        <br />
        - Right to data Portability - Receive your data in a machine-readable format.
    </p>
    <p>
        To exercise any of the rights contact us at: privacy@GreenfieldLocalHub.com
    </p>
</div>


